assets/images/*
assets/attachments/payments/*
assets/attachments/expenses/*
application/logs/*
_ide_helper.php

!assets/attachments/payments/.gitkeep
!assets/attachments/expenses/.gitkeep
!assets/attachments/.gitkeep
